<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body
        class="d-flex justify-content-center align-items-center"
        style="height: 100vh;"
>
<div class="card w-50">
    <div class="card-body d-flex flex-column align-items-center w-100">
        <h5>Create Your Car</h5>
        <form action="/carCreate" class="pt-1 w-100">
            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25" id="basic-addon1">Car Brand</span>
                <input type="text" class="form-control" name="brand" placeholder="Cresta" maxlength="63">
            </div>
            <!--            <div class="input-group mb-3">-->
            <!--                <span class="input-group-text fw-bold w-25" id="basic-addon1">Date</span>-->
            <!--                <input type="date" class="form-control" name="date" minlength="8">-->
            <!--            </div>-->
            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25" id="basic-addon2">Name your company</span>
                <input type="text" class="form-control" name="company" placeholder="Toyota" maxlength="63">
            </div>
            <h6 class="fst-italic">Choose a car Body:</h6>
            <select class="pt-1 form-select" aria-label="Пример выбора по умолчанию">
                <option selected>...</option>
                <option value="Coupé">Coupé</option>
                <option value="Universal">Universal</option>
                <option value="Convertible">Convertible</option>
                <option value="Limousine">Limousine</option>
                <option value="Sedan">Sedan</option>
                <option value="SUV">SUV</option>
                <option value="Hatchback">Hatchback</option>
                <option value="Pickup">Pickup</option>
            </select>
            <i><h6>Choose a car Class:</h6></i>
            <select class="pt-1 form-select" aria-label="Пример выбора по умолчанию" name="type">
                <option selected>...</option>
                <option value="A (mini cars)">A (mini cars)</option>
                <option value="B (small cars)">B (small cars)</option>
                <option value="C (mid-size cars)">C (mid-size cars)</option>
                <option value="D (full-size cars)">D (full-size cars)</option>
                <option value="E (business cars)">E (business cars)</option>
                <option value="F (executive cars)">F (executive cars)</option>
                <option value="S (sports coupes)">S (sports coupes)</option>
                <option value="M (minivans and commercial vehicles)">M (minivans and commercial vehicles)</option>
                <option value="J (crossovers and SUVs)">J (crossovers and SUVs)</option>
            </select>
            <div class="pt-3 input-group mb-1">
                <span class="input-group-text fw-bold w-25" id="basic-addon3">Horse Power</span>
                <input type="number" class="form-control" name="horsePower" value="0" maxlength="255">
            </div>
            <div class="pt-3 input-group mb-2">
                <span class="input-group-text fw-bold w-25" id="basic-addon4">Weight</span>
                <input type="number" class="form-control" name="weight" value="0" maxlength="255">
            </div>
            <div class="pt-3 input-group mb-2">
                <span class="input-group-text fw-bold w-25" id="basic-addon5">Car Price</span>
                <input type="number" class="form-control" name="price" placeholder="$" maxlength="255">
            </div>
            <select class="form-select" aria-label="Пример выбора по умолчанию" name="color">
                <option selected>Choose a car Color:</option>
                <option value="black">black</option>
                <option value="white">white</option>
                <option value="grey">grey</option>
                <option value="blue">blue</option>
                <option value="red">red</option>
                <option value="yellow">yellow</option>
            </select>
            <div class="pt-3 input-group w-100">
                <button type="submit" class="btn btn-outline-success w-50 text-dark">Create Auto</button>
                <a href="/" class="btn btn-outline-danger w-50">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>