{% extends "index.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100 flex-wrap">
    {% for id, text, date, person in tasks %}
        <div class="card m-1 w-100">
            <div class="card-body p-2">
                <form action="/taskDelete/{{ id }}">
                    <button type="submit" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Close"></button>
                </form>
                <h5 class="card-title">{{ text }}</h5>
                <p class="card-text">{{ date }}</p>
                <p class="card-text">{{ person }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}